body {
	background-image:url(website_background.jpg);
background-position: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
